# ==============================
# ALTIUM
# ==============================
**/Project Outputs/*
**/__Previews/*
**/History/*
**/Project Logs for */
*.PrjPcbStructure
*.PrjPcbVariants

# ==============================
# STM32 / C BUILD
# ==============================

#settings
.settings/

#metadata
.metadata/

#Debug
**/Debug/
**/debug/
**/Release/
**/release/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# ==============================
# LATEX
# ==============================

# Core LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk

# Bibliography auxiliary files
*.bbl
*.blg
*.bcf
*-blx.bib
*-blx.aux
*.run.xml

# SyncTeX files
*.synctex
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)

# Intermediate documents
*.dvi
*.xdv
*.ps

# MakeIndex / glossaries / nomenclature
*.idx
*.ilg
*.ind
*.acn
*.acr
*.glg
*.glo
*.gls
*.ist
*.nlg
*.nlo
*.nls

# Package-specific auxiliary files
*.loa
*.lol
*.lot
*.lof
*.thm
*.nav
*.snm
*.vrb
*.tdo
*.auxlock

# Editor backup files
*.bak
*.sav
*.backup
*.swp
*.tex~
*.lyx~
*~

# TeXstudio temporary files
*.txss